<!--card-->
<div class="col-6 float-left" style="border-radius:4%;">
    <div style="position: relative; background: rgba(0, 0, 0, 1);border-top-right-radius: 15px;border-top-left-radius:15px;">
        <img class="card-img-top" src="/images/stadium.jpg" alt="Card image cap" style="opacity:.6;border-radius:4%;">

        <div class="card-body" style="position:absolute;top:1px;width:100%;">
            <div class="">
                <span class="p-2" style="border:2.5px solid yellowgreen;border-radius:13px;">Resolve bet time</span>
                <span class="p-2">5th July 7pm UTC</span>
            </div>
            <hr class="border border-secondary"/>
            <div class="mt-5 row">
                <div class="col-3 offset-md-1">
                    <img src="/images/france.svg.png" width="100px" height="60px">
                    <p class="m-4 font-weight-light">France</p>
                </div>
                <div class="col-3 offset-md-1">
                    <h3>VS</h3>
                </div>
                <div class="col-3 ">
                    <img src="/images/croatia.svg.png" width="100px" height="60px">
                    <p class="m-4 font-weight-light">Croatia</p>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body text-dark" style="border-bottom-right-radius:15px;border-bottom-left-radius:15px;background-color: white">

        <ul class="pool list-group list-group-flush ">
            <li class="list-group-item p-0" style="border: none">
                <button class="btn col-5 btn-secondary">
                    <img src="/images/france.svg.png" width="20px" height="12px">
                    Win
                </button>
                <button class="btn col-5 float-right btn-secondary">
                    <img src="/images/croatia.svg.png" width="20px" height="12px">
                    Win
                </button>
            </li>
            <li class="list-group-item p-0 my-3" style="border: none">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text text-white bg-dark border-dark">Bet amount</div>
                    </div>
                    <input type="number" class="form-control" placeholder="0.01" step="0.01">
                </div>
            </li>

        </ul>

        <a href="#" class="btn btn-block btn-dark font-weight-bold" style="color: yellowgreen">Make a Bet</a>
        <hr/>
        <div class="" style="font-size:12px;border-radius: 4%;">
            Close bet: <span>15th July 7pm UTC</span>
        </div>
    </div>

</div><!--card end-->