<!DOCTYPE html>
<html>
<head>
  <title>users</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <style>
    .chat { padding: 3px; position: fixed; bottom: 0; width: 100%; }
    .chat input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
    .chat button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
    .btn:focus,.btn:active,.list-group-item:focus,.list-group-item:active {
      outline: none !important;
      box-shadow: none !important;
    }
  </style>
</head>
<body class="bg-dark">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
  <a class="navbar-brand" href="#">Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 font-weight-bold">
      <li class="nav-item active px-4">
        <a class="nav-link" href="/">Chat room <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item px-4">
        <a id="registerBtn" class="nav-link" href="/login">Register</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main mx-5 text-white" style="margin-top: 100px;">

  <!--main-->
  <div class="top container p-0"><b></b>

    <div class="row">
      <div class="col-5">
        <p class="param" style="display: none"><%= useremail %></p>
        <div class="alert alert-primary" role="alert">
          <b>Instruction:</b></br>
          click "Add friend" to add prepared friend into friend list </br>
          click "create group" to create group chat </br>
          <b>Prepared user email:</b> rachel@example.com, kitty@example.com, brid@example.com, stark@example.com
        </div>
        <h2>Welcome, <span class="loginname"></span></h2>
        <!--Alert-->
        <div class="nonexiste_alert alert alert-danger collapse" role="alert" style="display:none;">
          <a href="#" class="close" onclick="$('.nonexiste_alert').hide()">&times;</a>
          The user doesn't existed in the database!
        </div>

        <form class="form-inline">
          <div class="form-group mr-sm-2">
            <input class="form-control" id="add" placeholder="Your friend email:" required>
          </div>
          <button type="submit" id="addBtn" class="btn btn-primary">Add friend</button>
          <!-- Button trigger modal -->
          <button type="button" id="groupBtn" class="ml-2 btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="static">
            Create group
          </button>
        </form>

        <hr class="my-5 border border-secondary">
        <!--list connected clients-->
        <ul id="clients" class="list-group text-white mt-3"></ul>
      </div>
      <div class="col-6 offset-1 bg-secondary">
        <div class="defaultarea">
          <h5>Select client or Add friends to start chat!</h5>
        </div>
        <div class="chatarea" style="display: none">
          <!--list all group chat messages-->
          <ul id="messages" class="list-group text-white mb-3"></ul>
          <form class="form-inline chat">
            <input id="m" class="form-control col-4" autocomplete="off"><button class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row m-5">

    </div>
  </div>

</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select contacts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal_list" class="list-group">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="createBtn" class="btn btn-primary">Create</button>
      </div>
      <!--Alert-->
      <div class="lesspeople_alert alert alert-danger collapse" role="alert" style="display:none;">
        <a href="#" class="close" onclick="$('.lesspeople_alert').hide()">&times;</a>
        you can only create a group with at least 3 people!
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<!-- load the socket.io-client library, which defaults to trying to connect to the host that serves the page.-->
<script src="/socket.io/socket.io.js"></script>
<!--<script src="http://cdn.socket.io/stable/socket.io.js"></script>-->
<script src="/bundle.js"></script>

<script>
    var main = function(){
        $("#modal_list").on('click','.list-group-item',function(e) {
            e.preventDefault();
            $(this).toggleClass("active");
        });
    }

    $(document).ready(main);
</script>
</body>
</html>